apiVersion: v1
kind: Service
metadata:
  name: hello-svcn
spec:
  selector:
    role: appn
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 32009
  type: NodePort
